<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="/favicon.ico" width="30" height="30" alt="">
  </a>
</nav>

<div class="container-fluid">

  <div class="row my-3">
    <div class="col-12 d-flex justify-content-center">
      <h1>face match</h1>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p class="text-muted">for best results compare images with one face</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p class="text-muted">this app does not store your images</p>
    </div>
  </div>

  <div class="row mx-2">
    <div class="col-md-6 col-sm-12 d-flex mb-3" *ngFor="let cont of [0 ,1]">

      <div class="row" style="width: 100%; min-height: 65vh; border: 2px dashed grey;">

        <div class="col-12" style="align-items: center; display: flex; justify-content: center;">
          <img *ngIf="showImage(cont)" [src]="getImageSource(cont)" class="img-fluid" style="max-height: 60vh;">
        </div>

        <div class="col-12 mt-1" style="align-self: flex-end;" align="right">
          <div class="upload-btn-wrapper mb-2">
            <button class="btn">upload</button>
            <input type="file" name="myfile" (change)="uploadFile($event, cont)">
          </div>
          <button (click)="onCapture(cameraTemplateRef, cont)" class="btn btn-secondary mb-2">capture</button>
        </div>

      </div>
    </div>

  </div>

  <div class="row my-2">
    <div class="col-12 d-flex justify-content-center">
      <button [disabled]="comparing || !image1 || !image2" class="btn btn-primary" (click)="onCompare()">{{comparing ?
        'comparing...': 'compare'}}</button>
    </div>
  </div>

</div>


<swal #swalRef [focusCancel]="true"></swal>

<ng-template #cameraTemplateRef>
  <mat-dialog-content>
    <video id="video" preload autoplay loop muted></video>
  </mat-dialog-content>
  <mat-dialog-actions style="display: flex; justify-content: flex-end;">
    <button class="btn btn-secondary" (click)="onCaptureImage()">click</button>
  </mat-dialog-actions>
</ng-template>